* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: open sans;
    font-size: 16px;
    /* background-color: #3d3d3d; */
}

header {
    width: 100%;
    height: 650px;
    background-image: url(/imgs/fondo3.jpg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    position: relative;
    overflow: hidden;
    color: #fff;
    text-align: center;
}

header .textos {
    margin-top: 152px;
}

header .titulo {
    font-size: 85px;
}

header .subtitulo {
    font-size: 40px;
    font-weight: 300px;
    margin-bottom: 32px;
}

header .boton {
    display: inline-block;
    padding: 6px;
    width: 128px;
    border: 1px solid #fff;
    color: #fff;
    font-size: 19px;
    text-align: center;
    text-decoration: none;
    border-radius: 16px;
}

.sesgoabajo {
    z-index: 10;
    position: absolute;
    bottom: 0;
    left: 0;
    border-width: 0 0 35vh 100vw;
    border-style: solid;
    border-color: transparent transparent #fff transparent;
}

.sesgoarriba {
    z-index: 10;
    position: absolute;
    top: 0;
    left: 0;
    border-width: 35vh 100vw 0 0;
    border-style: solid;
    border-color: #fff transparent transparent transparent;
}

.contenedor {
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
    padding: 52px 0;
    position: relative;
}

.sobre-mi,
.nuestro-equipo,
.habilidades {
    text-align: center;
    font-size: 50px;
    margin-bottom: 10px;
    font-weight: 600;
}

.slogan {
    font-size: 24px;
    font-weight: 300;
    text-align: center;
    margin-bottom: 24px;
}

.parrafo {
    margin-bottom: 13px;
    font-weight: 300;
    text-align: justify;
    line-height: 24px;
    color: rgb(24, 16, 16);
}

.galeria {
    width: 100%;
    height: 100%;
    overflow: hidden;
    /* display: flex; */
    position: relative;
}


/* .imagenes {
    width: 20%;
    height: 500px;
    overflow: hidden;
    position: relative;
} */


/* .habilidades img {
    width: 100%;
    height: 100%;
    object-fit: cover;
} */

.arriba {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(52, 73, 95, 0.815);
}

.arriba h2 {
    position: relative;
    top: 45%;
    text-align: center;
    color: #fff;
}

.arriba div {
    position: relative;
    display: block;
    top: 46%;
    width: 48px;
    height: 5px;
    background: #fff;
    margin: auto;
}

.cards {
    width: 100%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card {
    margin: 20px 0;
    width: 30%;
    height: 250px;
    text-align: center;
    padding: 20px;
    box-shadow: 0px 0px 4px 0 rgba(52, 73, 94, 0.849);
}

.card img {
    width: 140px;
    height: 140px;
    object-fit: cover;
    border-radius: 100%;
}

.nuestros-clientes,
.habilidades {
    height: 900px;
    position: relative;
    /* background-image: url(/imgs/fondo2.jpg); */
    background-color: steelblue;
    overflow: hidden;
    background-attachment: fixed;
    background-position: center;
    padding-top: 130px;
}

.sesgoabajo-unico {
    z-index: 10;
    position: relative;
    bottom: 0;
    left: 0;
    border-width: 0 0 35vh 100vw;
    border-style: solid;
    border-color: transparent transparent #2c3e50 transparent;
}

.titulo-patrocinadores,
.subtitulo-patrocinadores {
    color: #000;
    text-align: center;
}

.titulo-patrocinadores {
    font-size: 56px;
    margin-top: 40px;
}

.subtitulo-patrocinadores {
    font-size: 24px;
    font-weight: 300;
    margin-bottom: 64px;
}

.clientes {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 64px;
    width: 100%;
    justify-content: space-between;
}


/* trabajando aqui */

.cliente {
    width: 10%;
}

.cliente img {
    width: 100%;
}

footer {
    background: #2c3e50;
}

.titulo-footer,
.subtitulo-footer {
    color: #fff;
    text-align: center;
    font-size: 56px;
}

.subtitulo-footer {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 64px;
}